<html>
<!-- Формировние html и отправка в stdout для перехода по redirect_url
После в планах добавить получение результатов оплаты, а затем сделать страницы возврата -->
<head><meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<link rel='shortcut icon' href='billmgr.ico' type='image/x-icon' />
    <script language='JavaScript'>
        function DoSubmit() {
        window.location.assign('{{redirect_url}}');
        }
    </script>
</head>
<body onload='DoSubmit()'>
    <script>
    </script>
</body>
</html>