<html>
<!-- Формировние html и отправка в stdout для перехода по redirect_url
После в планах добавить получение результатов оплаты, а затем сделать страницы возврата -->
<head><meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<link rel='shortcut icon' href='billmgr.ico' type='image/x-icon' />
    <script language='JavaScript'>
        function DoSubmit() {
        window.location.assign('{{redirect_url}}');
        }
    </script>
</head>
<!-- Проверка результатов оплаты. Пока не сделал реализацию запроса после заполнения формы из-за проблем с токеном. Как идёт запрос на след. строке
r_status = requests.post('https://securepay.tinkoff.ru/v2/GetState', data = json.dumps(status_data), headers=headers) -->
<body onload='DoSubmit()'>
    <script>
        /*
        function handlePaymentResult(success) {
            if (success) {
                window.location.assign('" + success_url + "');
            } 
            else {
                window.location.assign('" + fail_url + "');
            }
        }
        var urlParams = new URLSearchParams(window.location.search);
        var paymentSuccess = urlParams.get('paymentSuccess') === 'true';
        handlePaymentResult(paymentSuccess);
        */
    </script>
</body>
</html>